@using WebATB.Models.Product
@model List<ProductItemModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="text-center  m-5">Продукти</h1>

<a href="@Url.Action("Create")" class="btn btn-success">Додати</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Категорія</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var modalId = $"confirmDeleteModal_{item.Id}";
            <tr>
                <th scope="row">
                    @item.Id
                </th>
                <td>
                    @foreach (var img in item.ProductImages)
                    {
                        <img src="@img" alt="" width="75" class="me-2 mb-2" />
                    }
                    @* <img src="@item.Image" alt="" width="75" /> *@
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a href="@Url.Action("Update", new { id = item.Id })" class="btn btn-success">Змінити</a>


                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@modalId">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>

            <div class="modal fade" id="@modalId" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ви дійсно хочете видалити</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Ви хочете видалити <strong>@item.Name</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                            <form asp-action="Delete">
                                <button type="submit"
                                        class="btn btn-danger"
                                        asp-action="Delete"
                                        asp-route-id="@item.Id">
                                    Видалити
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        }

    </tbody>
</table>

@section Scripts {

}
